{% extends 'main.html' %}

{% block content %}
    

    
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'user-profile' recipient.id %}">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m13.789 7.155c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591 1.299-1.002 3.945-3.044 5.498-4.243z"/></svg>
                </a>
                <br>

                <form class="form" method="POST">
                    {% csrf_token %}

                    
                    {% if request.user.is_authenticated == False %}
                    <div class="form__field">
                        <label for="formInput#text">{{form.name.label}}</label>
                        {{form.name}}
                    </div>

                    <div class="form__field">
                        <label for="formInput#text">{{form.email.label}}</label>
                        {{form.email}}
                    </div>
                    {% endif %}
                    <div class="form__field">
                        <label for="formInput#text">{{form.subject.label}}</label>
                        {{form.subject}}
                    </div>

                    <div class="form__field">
                        <label for="formInput#text">{{form.body.label}}</label>
                        {{form.body}}
                    </div>

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>

    {% endblock content %}